name: mentor_match_app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  provider: ^6.1.1
  flutter_test:
    sdk: flutter    
  flutter_lints: ^4.0.0
  table_calendar: ^3.1.1
  intl: ^0.19.0
  http: ^1.2.1
  shared_preferences: ^2.2.3
  image_picker: ^1.0.4
    
flutter:
  uses-material-design: true
  assets:
    - assets/images/